//Funktioner

//För vertikal centrering
@mixin translate($x, $y) {
  -webkit-transform: translate($x, $y);
  -ms-transform: translate($x, $y);
  transform: translate($x, $y);
}

//Transform scale
@mixin scale($height, $width) {
  -ms-transform: scale($height, $width);
  /* IE 9 */
  -webkit-transform: scale($height, $width);
  /* Safari */
  transform: scale($height, $width);
}

