//$xs-max: 575.9px;
$xs-max: 480px;
$sm-min: 576px;

$sm-max: 767.9px;
$md-min: 768px;

$md-max: 991.9px;
$lg-min: 992px;

$lg-max: 1199.9px;
$xl-min: 1200px;

$xl-max: 1309px;
$max-page-width: 1380px;

/* colors */

$colorOrange: #f26d55;

//text color
$themecolor: #4a5669;
$themecolorLight: #66758d;
$themecolorLightest: #b5bdc9;
$themeHeadingcolor: #212735;
$themecolorFront: #dae0f1;

$themeBorderColor: #ebebeb;
$lightgrey: #fafafb;
$themecolorGreen: #666f2a; //#778131;
$lightblue: #c8e5ea;
$turqoise: #56b1bf;

//overlays
$themecolorDarkGreyOverlay: rgba(0, 0, 0, 0.2);
$themecolorLightOverlay: rgba(255, 255, 255, 0.3);

//other
$themefont: "Roboto", "Helvetica", sans-serif;
$navfont: $themefont;
$headingfont: $themefont;
$themeBorder_radius: 8px;
$btnBorder_radius: 4px;

$themeBox_shadow: 0 4px 8px 0 hsl(217deg 17% 35% / 8%);
$themeBox_shadow_more: 0px 2px 10px rgb(0 0 0 / 20%);
$themeBox_shadow_images: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
  rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
$themeBox_shadow_images_hover: rgba(0, 0, 0, 0.4) 0px 30px 90px;

$navcolor: #fff;
$navcolorDark: $themecolor;
$navBg_transp: transparent;
//$linkcolor: $themecolorNewBlue;
